.gen05console {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 500px;
    border: 1px solid white;

    background-color: #282c34;

    --padding-for-bracket: 7px;
}

.gen05consoleInner {
    width: 490px;
    height: 490px;

    /* Scroll to bottom automagically */
    display: flex;
    flex-direction: column-reverse;

    overflow-x: wrap;
    overflow-y: clip;

    font-family: "Consolas", "Courier New", monospace;
}

.gen05console > .gen05consoleInner > div {
    padding: 0px;
    margin: 0px;
}

.gen05console > .gen05consoleInner > div > span.info {
    color: #69b779;
    padding-right: var(--padding-for-bracket);
}

.gen05console > .gen05consoleInner > div > span.warning {
    color: #d19a56;
    padding-right: var(--padding-for-bracket);
}

.gen05console > .gen05consoleInner > div > span.error {
    color: #e06c6a;
    padding-right: var(--padding-for-bracket);
}

.gen05console > .gen05consoleInner > div > span.parentheses {
    opacity: 50%;
}

.gen05console > .gen05consoleInner > div > span.number {
    color: #61afe3;
}
