html {
    --bg-color: rgb(0, 0, 23);

    --transition-time: 0.5s;

    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

body {
    margin: 0px;
    padding: 0px;

    background-color: var(--bg-color);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    text-decoration: none;

    transition: var(--transition-time);
}

a.magic-text:hover {
    text-decoration: underline var(--pink);

    transition: var(--transition-time);
}

/* ===== HEADER ============================================================= */

body > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;

    width: 1000px;
}

body > header > h1 {
    margin: 0px;

    font-size: 50px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;

    text-shadow: 4px 3px 5px var(--pink);
}

body > header > p {
    margin: 0px;

    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

/* ===== CARDS ============================================================== */

body > section {
    display: grid;
    grid-template-columns: 500px 500px 500px;

    gap: 30px;
}

body > section > .card {
    display: flex;
    flex-direction: column;
    width: 500px;

    position: relative;

    align-items: center;
    justify-content: center;
}

body > section > .card > header {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

body > section > .card > header > h2 {
    margin: 0px;

    text-align: center;
    font-size: 30px;
    font-family: "Roboto", sans-serif;

    width: 100%;
}

body > section > .card > header > h2 > span {
    text-transform: uppercase;
}

body > section > .card > canvas {
    border: 1px solid white;
}

body > section > .card > .description {
    overflow: hidden;
    position: absolute;
    top: 61px; /* Borders are Annoying! */
    left: 0px;

    width: 500px;
    height: 500px;

    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Blur the background */
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0%;
    transition: var(--transition-time);
}

body > section > .card > .description:hover {
    opacity: 100%;
    transition: var(--transition-time);
}

body > section > .card > .description > p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    margin: 0px;
    padding: 5px;

    text-align: center;
}

body > section > .card > footer {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

body > section > .card > footer > a {
    color: white;
    text-decoration: none;

    margin: 0px;
    padding: 0px;

    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

body > section > .card > footer > a:hover {
    text-decoration: underline white;
}

/* ===== FOOTER ============================================================= */

body > footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;

    width: 1000px;
}

body > footer > p {
    margin: 0px;

    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
