.images06 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 0%;
}

.gen06display {
    width: 500px;
    height: 500px;
    border: 1px solid white;

    display: flex;
    align-items: center;
}

.gen06display > .gen06input {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: clip;
}

.gen06display > .gen06input > canvas {
    border: 1px solid white;
    width: 248px;
    height: 248px;
}

.gen06display > canvas {
    border: 1px solid white;
    width: 248px;
    height: 248px;
}

.gen06display > .gen06input > canvas.canvas06content > img,
.gen06display > .gen06input > canvas.canvas06style > img {
    width: 248px;
    height: 248px;

    display: inline-block;
}
